body {
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

header .makeStyles-selected-240 {
	width: 4rem;
	height: 9rem;
	transform: none;
}
